
<p class="news-item">
    <span class=" text-info">22-04-2014</span> - CKC versterkt zich met keeper.
    @Html.ActionLink("Lees meer!", "Latest", "News")
</p>
<p class="news-item">
    <span class=" text-info">22-04-2014</span> - CKC versterkt zich met keeper.
    @Html.ActionLink("Lees meer!", "Latest", "News")
</p>
<p class="news-item">
    <span class=" text-info">22-04-2014</span> - CKC versterkt zich met keeper.
    @Html.ActionLink("Lees meer!", "Latest", "News")
</p>
<p>@Html.ActionLink("Laatste nieuws", "Latest", "News", new { @class = "btn btn-default btn-sm" })</p>